    body {
        padding-top: 2.5rem;
        color: #5a5a5a;
    }

    .navbar{
        background-color: rgba(174, 201, 208, 0.9);
    }

    .nav-item {
        text-align: center;
    }

    .collapse.navbar-collapse {
        align-content: center;
    }

    .navbarSupportedContent {
        color: #000;
    }

    .headerNavBar {
        place-content: space-around;
        width: 80%;
        margin: 0 auto;
    }


.footer {
    background-color: rgba(174, 201, 208, 0.8);
    vertical-align: bottom;

}


.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0, 0.9);
}

@media (max-width:500px){
    .footerbrand{
        display: none;
    }
}

/* Index styles */
#startpage {
    max-width: 100%;
    height: 93vh;
    background: url(sourses/start.jpg) center no-repeat;
    background-size:cover ;  

}

.carousel-item.active {
    height: 450px;

}

.carousel-item {
    height: 450px;
}

#about {
    text-align: center;
}

#spaceMenu {
    width: 100%;
    background: url(sourses/mircomenu/menu.jpg) fixed center center;
    background-size:cover;
    text-align: center;
}

.section-title {
    padding-top: 20px;
    color: #fff;
    text-shadow: 4px 4px 7px rgba(10, 82, 100, 1);
}

.services .icon-box {
    border: 1px solid #303030;
    transition: all ease-in-out 0.3s;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.picOne {
    background: url(sourses/mircomenu/drinks.jpg);
    background-size: cover;
}

.picTwo {
    background: url(sourses/mircomenu/mainbludo.jpg);
    background-size: cover;
}

.picThree {
    background: url(sourses/mircomenu/desert.jpg);
    background-size: cover;
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 47vh;
    border-radius: 5px;
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    transition: 0.3s;
    margin-bottom: 10px;
}

.services .icon-box h4 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(10, 82, 100, 1);
}

.services .icon-box p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 5;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(10, 82, 100, 1);
}

.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

#spaceMenu h5 {
    color: #fff;
    text-decoration: underline;
    padding-bottom: 40px;
    text-shadow: 4px 4px 7px rgb(10, 82, 100, 1);
}

#apps {
    margin-top: 60px;
    margin-bottom: 60px;
}

.badge {
    background: rgb(174,201,208);
    margin-left: 10px;
}

.col-lg-3{
    margin: auto auto;
}

.legend{
    font-size: 22px;
    text-align: justify;
}

.legend2{
    font-size: 24px;
    text-align: center;
}

/* Branches styles */
@media (min-width:1200px){

    .sliderContainer {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100vh;
      }
  
      .sidebar {
          height: 100%;
          width: 30%;
          position: absolute;
          top: 0;
          left: 0;
          transition: transform 0.5s ease-in-out;
      }
      
      .sidebar > div {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #fff;
      }
      
      .sidebar h1 {
          font-size: 40px;
          margin-bottom: 10px;
          margin-top: -30px;
      }
      
      .main-slide {
          height: 100%;
          position: absolute;
          top: 0;
          left: 30%;
          width: 70%;
          transition: transform 0.5s ease-in-out;
      }
      
      .main-slide > div {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          height: 100%;
          width: 100%;
      }
      
      button {
          background-color: rgba(174, 201, 208, 0.8);
          border: none;
          color: #fff;
          cursor: pointer;
          font-size: 16px;
          padding: 15px;
      }
      
      button:hover {
          color: #222;
      }
      
      button:focus {
          outline: none;
      }
      
      .sliderContainer .controls button {
          position: absolute;
          left: 30%;
          top: 50%;
          z-index: 100;
      }
      
      .sliderContainer .controls .down-button {
          transform: translateX(-100%);
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
      }
      
      .sliderContainer .controls .up-button {
          transform: translateY(-100%);
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
      }
  
  }
  
  @media (max-width:1199px){
  
      .sliderContainer {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100vh;
        }
    
        .sidebar {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.5s ease-in-out;
        }
        
        .sidebar > div {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
        
        .sidebar h1 {
            font-size: 40px;
            margin-bottom: 10px;
            margin-top: -30px;
        }
        
        .main-slide {
            display: none;
        }
        
        button {
            background-color: rgba(174, 201, 208, 0.8);
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            padding: 15px;
        }
        
        button:hover {
            color: #222;
        }
        
        button:focus {
            outline: none;
        }
        
        .sliderContainer .controls button {
            position: absolute;
            left: 90%;
            top: 90%;
            z-index: 100;
        }
        
        .sliderContainer .controls .down-button {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        
        .sliderContainer .controls .up-button {
            transform: translateY(-100%);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    
    }
  
  
  
  .lenina{
      background: url(sourses/adres/lenina.jpg) center no-repeat;
      background-size:cover ;
  }
  
  .frunze{
      background: url(sourses/adres/frunze.jpg) center no-repeat;
      background-size:cover ;
  }
  
  .ecodom{
      background: url(sourses/adres/ecodom.jpg) center no-repeat;
      background-size:cover ;
  }
  
  .airport{
      background: url(sourses/adres/airport.jpg) center no-repeat;
      background-size:cover ;
  }
  
  .erofei{
      background: url(sourses/adres/erofei.jpg) center no-repeat;
      background-size:cover ;
  }
  
  .brosko{
      background: url(sourses/adres/brosko.jpg) center no-repeat;
      background-size:cover ;
  }
  
  .pushkina{
      background: url(sourses/adres/pushkina.jpg) center no-repeat;
      background-size:cover ;
  }
  
  .nk{
      background: url(sourses/adres/nk.jpg) center no-repeat;
      background-size:cover ;
  }
  
  .toyota{
      background: url(sourses/adres/toyota.jpg) center no-repeat;
      background-size:cover ;
  }

/* cashback styles */
#startpageCashback {
    width: 100%;
    height: 93vh;
    background: url(sourses/cashback.jpg) center no-repeat;
    background-size:cover ;  

}

/* vacancy styles */
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  .pynkt3{
    text-align: center;
  }
  
  .ppynkt3{
    text-align: justify;
  }
  
  .btn{
    color:rgb(240, 246, 255);
    background-color: rgb(136, 188, 201);
    border: none;
    box-shadow: 0px 0 13px rgb(10, 82, 100, 1);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .btn:hover{
    color: rgb(136, 188, 201);
    background-color:rgb(240, 246, 255);
    
  }
  
  .carousel-item.active {
    height: 400px;
  
  }
  
  .carousel-item {
    height: 400px;
  }